<header class="header">
    <div class="container">
        <div class="logo">
            <img class="logo-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZVv3YvXgQqhvhuLkgcelbaATVlKLhWw3GeLuAMzJdddxjYkoVsK-y7ByVNTYuwUjW-WM&usqp=CAU" >
            <a>CRISTHIAN</a>
        </div>
        <ul class="menu_list">
            <div class="menu_item"><div class="item" (click)="go('cover')">Cover</div></div>
            <div class="menu_item"><div class="item" (click)="go('about')">About</div></div>
            <div class="menu_item"><div class="item" (click)="go('skills')">Skills</div></div>
            <div class="menu_item"><div class="item" (click)="go('contact')">Contact</div></div>
        </ul>
    </div>
</header>