<section class="section-cover">
    <div class="cover-content">
        <div class="cover-text">
            <h1 class="cover-name">MY NAME IS CRISTHIAN</h1>
            <h2 class="cover-title">I'M DESARROLLADOR DE SOFTWARE</h2>
            <a href="https://wa.me/917338286" class="cover-button" target="_blank">Whatsapp</a>
        </div>
        <div class="cover-image-container">
            <div class="rotating-border">
                <div class="rotating-inner">
                    <img class="profile-cover"
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZVv3YvXgQqhvhuLkgcelbaATVlKLhWw3GeLuAMzJdddxjYkoVsK-y7ByVNTYuwUjW-WM&usqp=CAU"
                        alt="Foto de Cristhian">
                </div>
            </div>
        </div>
    </div>
</section>
